@charset "UTF-8";
.paging ul {
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0;
}
.paging ul li{
	display: inline;
	margin-right: 10px;
}
table {
	border-collapse: collapse;
}
table th,td{
	border:1px solid #000;
}
.paging{
	margin:10px 0;
}